<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zsj.parking.dao.CarMapper" >
  <resultMap id="BaseResultMap" type="com.zsj.parking.vo.Car" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="plateNumber" property="platenumber" jdbcType="VARCHAR" />
    <result column="brand" property="brand" jdbcType="VARCHAR" />
    <result column="model" property="model" jdbcType="VARCHAR" />
    <result column="ownerId" property="ownerid" jdbcType="VARCHAR" />
    <result column="engineNumber" property="enginenumber" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="name" property="userName" jdbcType="VARCHAR" />
    <result column="loginId" property="userLoginId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    a.id as id, plateNumber, brand, model, b.id as ownerId, engineNumber, createTime, name, loginId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from car as a left join users as b on a.ownerid=b.id
    where a.id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from car as a left join users as b on a.ownerid=b.id
  </select>
  <select id="selectAllEqual" resultMap="BaseResultMap" parameterType="com.zsj.parking.vo.Car">
    select 
    <include refid="Base_Column_List" />
    from car as a left join users as b on a.ownerid=b.id
    <trim prefix="WHERE" prefixOverrides="AND|OR">
		<if test="ownerid != null">
			AND ownerid=#{ownerid, jdbcType=VARCHAR}
		</if>	
	</trim>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from car
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zsj.parking.vo.Car" >
    insert into car (id, plateNumber, brand, 
      model, ownerId, engineNumber, 
      createTime)
    values (#{id,jdbcType=VARCHAR}, #{platenumber,jdbcType=VARCHAR}, #{brand,jdbcType=VARCHAR}, 
      #{model,jdbcType=VARCHAR}, #{ownerid,jdbcType=VARCHAR}, #{enginenumber,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zsj.parking.vo.Car" >
    insert into car
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="platenumber != null" >
        plateNumber,
      </if>
      <if test="brand != null" >
        brand,
      </if>
      <if test="model != null" >
        model,
      </if>
      <if test="ownerid != null" >
        ownerId,
      </if>
      <if test="enginenumber != null" >
        engineNumber,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="platenumber != null" >
        #{platenumber,jdbcType=VARCHAR},
      </if>
      <if test="brand != null" >
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="model != null" >
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="ownerid != null" >
        #{ownerid,jdbcType=VARCHAR},
      </if>
      <if test="enginenumber != null" >
        #{enginenumber,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <!-- <select id="countByExample" parameterType="com.zsj.parking.vo.CarExample" resultType="java.lang.Integer" >
    select count(*) from car
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select> -->
  <update id="updateByPrimaryKeySelective" parameterType="com.zsj.parking.vo.Car" >
    update car
    <set >
      <if test="platenumber != null" >
        plateNumber = #{platenumber,jdbcType=VARCHAR},
      </if>
      <if test="brand != null" >
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="model != null" >
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="ownerid != null" >
        ownerId = #{ownerid,jdbcType=VARCHAR},
      </if>
      <if test="enginenumber != null" >
        engineNumber = #{enginenumber,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zsj.parking.vo.Car" >
    update car
    set plateNumber = #{platenumber,jdbcType=VARCHAR},
      brand = #{brand,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      ownerId = #{ownerid,jdbcType=VARCHAR},
      engineNumber = #{enginenumber,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>